<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite 5</title>
</head>
<body>
    <h1><strong>My Favorite Artists:</strong></h1>
    <ul>
        <li>PartyNextDoor</li>
        <li>Tink</li>
        <li>Jazmine Sullivan</li>
        <li>Kodak Black</li>
        <li>Glorilla</li>
    </ul>

    <h1><strong>My Favorite Songs:</strong></h1>
    <ul>
        <li>Bed Peace by Jhene Aiko</li>
        <li>I Like by Tink</li>
        <li>Another Day by PartyNextDoor</li>
        <li>Need U Bad by Jazmine Sullivan</li>
        <li>No Love by Glorilla</li>

</body>
</html>
