<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><strong>My Favorite Artists:</strong></h1>
    <ul>
        <li>Foods</li>
        <li>Mexican Food</li>
        <li>Okra</li>
        <li>Cookies</li>
        <li>Chicken Tenders and Fries</li>
    </ul>

    <h1><strong>My Favorite Restaurants:</strong></h1>
    <ul>
        <li>Papas and Beer</li>
        <li>Huey Magloos</li>
        <li>Moes</li>
        <li>Bojangles</li>
        <li>Zaxbys</li>
</body>
</html>
